* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}


.home {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(145, 135, 135); */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  /* background-color: red; */
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.hero {
  /* background-color: green; */
  width: 100%;
  height: 90vh;
}

.image-div {
  position: relative;
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;

}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: whitesmoke;

}


.about {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(175, 151, 151); */
}