*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

main1{
    height: 80%;
    width: 100%;
    /* background-color: black; */
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-template-columns: 35% 1fr;
    grid-template-areas: "nav nav"
                          "section1 figure";
}

nav{
    grid-area: nav;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
    border-bottom: 2px solid black;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
    cursor: pointer;
}

nav a:hover{
    color: grey;
}

nav logo{
    position: absolute;
    left: 50px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

section1{
    grid-area: section1;
    /* background-color: blue; */
}

section1 p{
    font-size: 20px;
    margin: 20px;
    margin-top: 30px;
}

section1 h2{
    font-size: 50px;
    margin: 20px;
    margin-top: 50px;
}

section1 button{
    margin: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

figure{
    grid-area: figure;
    /* background-color: green; */
    
}

#pics{
    width: 90%;
    height: 90%;
    /* background-color: rgb(73, 5, 5); */
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    border-radius: 10px;
    overflow: auto;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    
}

.figures{
    width: 30%;
    height: 100%;
    flex-shrink: 0;
    background-color: rgb(5, 73, 66);
    border-radius: 20px;
}

#pics img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}

main2{
    height: 80%;
    width: 100%;
    /* background-color: yellow; */
    display: grid;
    grid-template-rows: 35% 1fr;
    grid-template-columns:1fr;
    grid-template-areas: "article article"
                         "figures figures";
}

article{
    grid-area: article;
    /* background-color: purple; */
    text-align: center;
    border: 2px solid black;
}

article div{
    width: 40%;
    margin: auto;
}

article h1{
    font-size: 40px;
    /* margin: 20px; */
    margin-top: 30px;
}

article p{
    font-size: 20px;
    /* margin: 20px; */
    /* margin-top: 30px; */
}


figures{
    grid-area: figures;
    /* background-color: orange; */
    display: flex;
    align-items: start;
    padding-top: 20px;
    gap: 20px;
    justify-content: center;
    position: relative;
}

.figure{
    width: 15%;
    height: 80%;
    /* background-color: rgb(73, 5, 5); */
    gap: 10px;
    border-radius: 20px;
}

figures img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
figures img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

figures button{
    margin: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
}

main3{
    height: 80%;
    width: 100%;
    /* background-color: pink; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "video video text text"
                         "video video text text"
                         "video video box1 box2"
                         "box3 box4 box5 box6";
    padding: 40px;
    border: 2px solid black;
}

#video{
    grid-area: video;
}

#video video{
    width: 100%;
    height: 100%;
}

#text{
    grid-area: text;
    /* background-color: red; */
    margin: 10px;
    text-align: center;
}

#box1{
    grid-area: box1;
    background-color: yellow;
    margin: 10px;
    text-align: center;
    size: 10px;
}
#box2{
    grid-area: box2;
    background-color: green;
    margin: 10px;
    text-align: center;
}
#box3{
    grid-area: box3;
    background-color: orange;
    margin: 10px;
    text-align: center;
}
#box4{
    grid-area: box4;
    background-color: purple;
    margin: 10px;
    text-align: center;
}
#box5{
    grid-area: box5;
    background-color: brown;
    margin: 10px;
    text-align: center;
}
#box6{
    grid-area: box6;
    background-color: grey;
    margin: 10px;
    text-align: center;
}

footer{
    height: 10%;
    width: 100%;
    background-color: black;
}