*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  overflow: hidden;
 background-color: rgba(0, 0, 0, 0.297);
}